.body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(300deg, #30cfd0, #330867);
  border-radius: 16px;
  width: 25%;
}

@media (max-width: 768px) {
  .body {
    width: 100%;
  }
}

.des {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background: rgba(0, 0, 0, 0.8);
  color: rgb(203, 203, 203);
  padding: 1rem;
  text-align: center;
  padding-bottom: 5rem;
}

.photo {
  display: flex;
  justify-content: center;
  margin-top: -4rem;
}

.image {
  border-radius: 50%;
}

.name {
  text-align: center;
  color: white;
}

.title {
  text-align: center;
  font-weight: bold;
  color: #1e1e1e;
  padding-bottom: 1rem;
}
