.body {
  min-height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(51, 8, 103, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainBox {
  padding-left: 3rem;
  padding-right: 3rem;
}

.title {
  color: white;
  font-size: clamp(2rem, 5vw, 25rem);
  line-height: 1;
}

.subtitle {
  color: gray;
  font-size: clamp(2rem, 3vw, 20rem);
  line-height: 1;
}

.text {
  color: gray;
}

.cards {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
  .mainBox {
    width: 90%;
  }
  .body {
    padding-top: 5rem;
  }
}
