.body {
  width: 100%;
  backdrop-filter: blur(1px);
  z-index: 1;
  position: absolute;
  top: 0;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
  gap: 1rem;
  font-weight: bold;
}

.link:hover {
  background: linear-gradient(300deg, #30cfd0, #330867);
  background-clip: text;
  color: transparent;
}

.contact {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
  background: #3a4149;
  color: aliceblue;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.contact:hover {
  background: linear-gradient(300deg, #30cfd0, #330867);
}
