.body {
  width: 100%;
  backdrop-filter: blur(3px);
  z-index: 1;
  position: fixed;
  top: 0;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px #185353 solid;
}

@media (max-width: 768px) {
  .body {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.link {
  text-decoration: none;
  color: white;
  gap: 1rem;
  font-weight: bold;
}

.link:hover {
  background: linear-gradient(300deg, #30cfd0, #330867);
  background-clip: text;
  color: transparent;
  transition: all 0.2s ease-in-out;
}

.contact {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 15px;
  cursor: pointer;
  background: linear-gradient(300deg, #30cfd0, #330867);
  color: aliceblue;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.contact:hover {
  background: white;
  color: black;
}
