.body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
}

.background {
  background: linear-gradient(300deg, #30cfd0, #330867, #000000);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
  z-index: -1;
  min-height: 100%;
  width: 100%;
  position: absolute;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: clamp(3rem, 3vw, 25rem);
  color: white;
}

.text {
  width: 60%;
  text-align: center;
  color: gray;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-right: 3rem;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .body {
    padding-top: 5rem;
  }

  .text {
    width: 90%;
  }
}
