.body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 7, 10, 0.8) 30%,
    rgba(2, 3, 4, 0.8) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  position: relative;
}

.mainBody {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
}

.left {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 3rem;
  padding-right: 3rem;
}

.subtitle {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  background: linear-gradient(300deg, #30cfd0, #330867);
  font-size: 2rem;
  padding: 0.4rem;
  border-radius: 50%;
  color: white;
}

.subText {
  color: gray;
}

.title {
  font-size: clamp(3rem, 3vw, 25rem);
  color: white;
  text-align: center;
}

.cards {
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.right {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phone {
  height: 70vh;
  width: auto;
}

.titlePhone {
  font-size: clamp(2.5rem, 2.5vw, 20rem);
  background: linear-gradient(300deg, #30cfd0, #330867);
  background-size: 130% 130%;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
  margin-top: -7rem;
  z-index: 1;
  margin-bottom: 3rem;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  z-index: 1;
}

.socialIcon {
  background: linear-gradient(300deg, #30cfd0, #330867);
  border-radius: 50%;
  font-size: 2.5rem;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
}

.customers {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-around;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media (max-width: 768px) {
  .body {
    padding-top: 5rem;
  }
  .cards {
    flex-direction: column;
  }
  .customers {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 973px) {
  .mainBody {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
}
