.body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(6, 7, 10, 0.7) 30%,
    rgba(2, 3, 4, 0.7) 70%,
    rgba(0, 0, 0, 1) 100%
  );
  position: relative;
}

.background {
  z-index: -1;
  position: fixed;
  top: 0;
}

.left {
  width: 50%;
}

.subtitle {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.icon {
  background: linear-gradient(300deg, #30cfd0, #330867);
  font-size: 2rem;
  padding: 0.4rem;
  border-radius: 50%;
  color: white;
}

.subText {
  color: gray;
}

.title {
  font-size: clamp(3rem, 3vw, 25rem);
  color: white;
}

.right {
  width: 50%;
}

@media (max-width: 768px) {
  .body {
    padding-top: 5rem;
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
}
